.encabezado {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color de texto del encabezado */
    padding: 20px; /* Espaciado interno del encabezado */
    display: flex; /* Utilizamos flexbox para el diseño */
    align-items: center; /* Centramos verticalmente los elementos */
}
/* Estilos para la imagen del logo */
.logo {
    width: 100px; /* Ancho de la imagen */
    margin-right: 20px; /* Margen derecho para separar la imagen del texto */
}